ul {
  list-style: none;
}

table {
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: collapse;
}

tr {
  margin: 0;
  padding: 0;
}

td {
  width: 1cm;
  border: 2px solid black;
  height: 1cm;
  margin: 0;
  padding: 0;
  background-color: lightgrey;
  text-align: center;
}

.visible {
  background-color: white;
}
